* { margin: 0; padding: 0 }

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  height: 500px;
}

form#search {
  padding: 8px;
  background: #eee;
  border: solid 1px #ccc;
}

form#search input#q {
  width: 60%; 
}

form#search input#search {
  width: 15%;
}

form#search input#new {
  float: right;
}

#index {
  width: 400px;
  padding: 10px;
}

ul#notes li {
  padding-top: 4px; 
  padding-bottom: 4px; 
}

ul#notes {
  list-style: none;
}

div.abstract {
  color: #aaa;  
  font-size: 10px;
}

.hidden {
  display: none;
}

#loader {
  background-image: url('/images/loader.gif');
  width: 64px;
  height: 64px;
  margin: 100px auto;
}
