* { margin: 0; padding: 0 }

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  height: 500px;
  width: 400px;
  padding: 10px;
}

div#toolbar {
  padding: 8px;
  background: #eee;
  border: solid 1px #ccc;
}

div#note div#toolbar input {
  width: 15%;
}

div#note div#toolbar input#destroy {
  float: right;
}

div#index div#toolbar input#q {
  width: 60%; 
}

div#note textarea {
  margin-top: 8px;
  height: 452px;
  width: 398px;
}

div#index div#toolbar input#new {
  float: right;
}

ul#notes li {
  padding-top: 4px; 
  padding-bottom: 4px; 
}

ul#notes {
  list-style: none;
}

div.abstract {
  color: #aaa;  
  font-size: 10px;
}

.hidden {
  display: none;
}

#loader {
  background-image: url('/images/loader.gif');
  width: 64px;
  height: 64px;
  margin: 100px auto;
}
